<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/style.css" />
<title>index</title>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<h3 th:text="#{header.registra}">Creazione Chef</h3>
	<form th:action="@{/admin/createchef}" method="POST" enctype="multipart/form-data" th:object="${chef}">
		<table>
			<tr>
				<td><h2>Nome</h2>
					<input type="text" placeholder="Nome" required
					th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}"
					th:errors="*{nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><h2>Cognome</h2>
					<input type="text" placeholder="Cognome" required
					th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}"
					th:errors="*{cognome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><h2>Nazionalita</h2>
					<input type="text" placeholder="Nazionalita" required
					th:field="*{nazionalita}" /></td>
				<td th:if="${#fields.hasErrors('nazionalita')}"
					th:errors="*{nazionalita}" th:style="'color:red'"></td>
			</tr>
            <tr>
                <div th:if="${#fields.hasErrors('global')}">
                    <h3>Global errors:</h3>
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                </div>
            </tr>

			<tr>
				<td>
					<p><h2>Seleziona un'immagine:</h2></p> <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="file">
				</td>
			</tr>
			<tr>
				<td>
					<button type="submit" class="login">Crea Chef</button>
				</td>
			</tr>
		</table>
	</form>




	<footer th:replace="fragments/base.html :: fondo(home='/admin/home')"></footer>
</body>
</html>