<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/style.css" />
<title>index</title>
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 th:text="#{header.registra}">Creazione Ingrediente</h4>
		<form th:action="@{/admin/createingrediente}" method="POST" enctype="multipart/form-data" th:object="${ingrediente}">
			<table>
				<tr>
					<td>Nome</td>
					<td><input type="text" placeholder="Nome dell'ingrediente"
						required th:field="*{nome}" /></td>
					<td th:if="${#fields.hasErrors('nome')}"
						th:errors="*{nome}" th:style="'color:red'"></td>
				</tr>
				<tr>
					<td>Origine</td>
					<td><input type="text" placeholder="Origine dell'ingrediente"
						required th:field="*{origine}" /></td>
					<td th:if="${#fields.hasErrors('origine')}"
						th:errors="*{origine}" th:style="'color:red'"></td>
				</tr>
				<tr>
					<td>Descrizione</td>
					<td><input type="text"
						placeholder="Descrizione dell'ingrediente" required
						th:field="*{descrizione}" /></td>
					<td th:if="${#fields.hasErrors('descrizione')}"
						th:errors="*{descrizione}" th:style="'color:red'"></td>
				</tr>
				<tr>
					<td>
						<p>Seleziona un'immagine:</p> <input type="file" accept="image/*"
						class="custom-file-input" id="customFile" name="file">
					</td>
				</tr>
				<tr>
					<div th:if="${#fields.hasErrors('global')}">
						<h3>Global errors:</h3>
						<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
					</div>
				</tr>
				<tr>
					<td>
						<button type="submit" class="login">Crea Ingrediente</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>