<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>index</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<p>
<h2>ADMIN COMMANDS</h2></p>
<div class="adminCommandFlex">
    <div class="adminCommand">
        <a th:href="@{/admin/createchef}">
            <button class="adminCommandButton">Crea Chef</button>
        </a>
    </div>
    <div class="adminCommand">
        <a th:href="@{/admin/createbuffet}">
            <button class="adminCommandButton">Crea Buffet</button>
        </a>
    </div>
    <div class="adminCommand">
        <a th:href="@{/admin/createpiatto}">
            <button class="adminCommandButton">Crea Piatto</button>
        </a>
    </div>
    <div class="adminCommand">
        <a th:href="@{/admin/createingrediente}">
            <button class="adminCommandButton">Crea Ingrediente</button>
        </a>
    </div>
</div>
<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>
