<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>index</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h3 th:text="#{header.registra}">Modifica Buffet</h3>
    <form method="POST" enctype="multipart/form-data" th:action="@{'/admin/modificabuffet/' + ${buffet.id}}"
          th:object="${buffet}">
        <div class="showContainer">
            <div class="show">
                <img th:src="${buffet.immagine}" alt="Buffet picture"/>
            </div>
            <div class="showModifica">
                <table>
                    <tr>
                        <td><h2>Nome</h2>
                            <input type="text" placeholder="Nome del Buffet" required
                                   th:field="*{nome}"/></td>
                        <td th:if="${#fields.hasErrors('nome')}"
                            th:errors="*{nome}" th:style="'color:red'"></td>
                    </tr>
                    <tr>
                        <td><h2>Descrizione</h2>
                            <input type="text" placeholder="Descrizione del Buffet"
                                   required th:field="*{descrizione}"/></td>
                        <td th:if="${#fields.hasErrors('descrizione')}"
                            th:errors="*{descrizione}" th:style="'color:red'"></td>
                    </tr>
                    <tr>
                        <td><h2>Modifica chef:</h2>
                            <select th:name="idchef">
                                <option value="0">Seleziona uno Chef</option>
                                <option th:each="che : ${chefs}" th:value="${che.id}"
                                        th:text="${che.nome} + ' '+ ${che.cognome}"
                                        th:selected="${che.equals(chef)}"></option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><h2>Modifica i piatti appartenenti al tuo buffet</h2>
                            <div th:each="piatto : ${piatti}">
                                <label class="containerCheck" >
                                    <input type="checkbox" th:text="${piatto.nome}"
                                           th:value="${piatto.id}"
                                           th:name="idpiatti" th:checked="${piattiSelected.contains(piatto)}"/>
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                            <h2>Modifica immagine:</h2></p> <input type="file" accept="image/*"
                                                                   class="custom-file-input" id="customFile"
                                                                   name="file">
                        </td>
                    </tr>
                    <tr>
                        <div th:if="${#fields.hasErrors('global')}">
                            <h3>Global errors:</h3>
                            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
                        </div>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="loginConfermaModifica">Modifica Buffet</button>
                            <a th:href="@{'/admin/deletebuffet/' + ${buffet.id}}">
                                <button type="button" class="loginErase">Elimina Buffet</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

</div>
<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>