<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>index</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h3 th:text="#{header.registra}">Modifica Piatto</h3>
    <form method="POST" enctype="multipart/form-data"
          th:action="@{'/admin/modificapiatto/' + ${piatto.id}}" th:object="${piatto}">
        <div class="showContainer">
            <div class="show">
                <img th:src="${piatto.immagine}" alt="Buffet picture"/>
            </div>
            <div class="showModifica">
                <table>
                    <tr>
                        <td><h2>Nome</h2>
                            <input type="text" placeholder="Nome del piatto" required
                                   th:field="*{nome}"/></td>
                        <td th:if="${#fields.hasErrors('nome')}"
                            th:errors="*{nome}" th:style="'color:red'"></td>
                    </tr>
                    <tr>
                        <td><h2>Descrizione</h2>
                            <input type="text" placeholder="Descrizione del piatto"
                                   required th:field="*{descrizione}"/></td>
                        <td th:if="${#fields.hasErrors('descrizione')}"
                            th:errors="*{descrizione}" th:style="'color:red'"></td>
                    </tr>
                    <tr>
                        <td><h2>Modifica gli ingredienti appartenenti al tuo piatto</h2>
                            <div th:each="ingrediente : ${ingredienti}">
                                <label class="containerCheck">
                                    <input type="checkbox"
                                           th:value="${ingrediente.id}"
                                           th:text="${ingrediente.nome}" th:name="idingredienti"
                                           th:checked="${ingredientiSelected.contains(ingrediente)}"/>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <div th:if="${#fields.hasErrors('global')}">
                            <h3>Global errors:</h3>
                            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
                        </div>
                    </tr>
                    <tr>
                        <td>
                            <p><h2>Modifica immagine:</h2></p> <input type="file" accept="image/*"
                                                             class="custom-file-input" id="customFile" name="file">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="loginConfermaModifica">Modifica Piatto</button>
                            <a th:href="@{'/admin/deletepiatto/' + ${piatto.id}}">
                                <button type="button" class="loginErase">Elimina Piatto</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>