<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="style.css" />
<title>index</title>
</head>

<body>
	<div class="flex-container">

		<div class="titleContainer">
			<img class="bg-image" src="service.jpg" />

			<div class="bg-text">
				Scegli il tuo catering da <b>sogno!</b>
			</div>
		</div>
		<div class="informationsBoxLeft">
			<div class="informations">
				<div>Da noi solo il massimo della</div>
				<b>Qualità!</b>
			</div>
			<div class="informationsImage">
				<img src="/buffet3.png" />
			</div>
		</div>
		<div class="informationsBoxRight">
		
			<div class="informationsImage">
				<img src="/buffet1.png" />
			</div>
			
			<div class="informations">
				<div>Facciamo di tutto per rispettare le</div>
				<b>Tue Aspettative!</b>
			</div>
			
		</div>
		<div class="menus">
		
		</div>
	</div>
</body>
</html>