<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/style.css" />
<title>index</title>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
	<h4>Dettagli buffet</h4>
		<div class="chefs_container">
			<div class="singleton_chef_container">
				<img th:src="${buffet.immagine}" class="buffet_picture"
					alt="Buffet picture" />

				<div class="BuffetTextContainer">
					<div class="chefBuffetText">
						<h1 th:text="${buffet.nome}">a</h1>
						<h1 th:text="${buffet.descrizione}">a</h1>
						<div th:each="piatto : ${buffet.piatti}">
						<a th:href="@{'/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">
							piatto
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>