<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>index</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h3>Dettagli buffet</h3>
    <div class="showContainer">
        <div class="show">
            <img th:src="${buffet.immagine}" class="show" alt="Buffet picture"/>
            <h1> Studiato da
                <a th:href="'/show/chef/' + ${buffet.getChef().getId()}"
                   th:text="${buffet.getChef().getNominativo()}">Nome Chef</a>
            </h1>
            <div sec:authorize-url="/admin" class="adminButton">
                <h1>
                    <a th:href="@{'/admin/modificabuffet/' + ${buffet.getId()}}">
                        <button class="adminCommandButton">Modifica Buffet</button>
                    </a>
                </h1>
            </div>
        </div>
        <div class="show">
            <div class="BuffetTextContainer">
                <div class="chefBuffetText">
                    <h1 th:text="${buffet.nome}">a</h1>
                    <h1 th:text="${buffet.descrizione}">a</h1>
                    <h2>
                        <div th:each="piatto : ${buffet.piatti}">
                            <a th:href="@{'/show/piatto/' + ${piatto.id}}"
                               th:text="${piatto.nome}"> piatto </a>
                        </div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>