<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>index</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div class="centerTitle">Dettagli chef</div>
<div>
    <div class="showContainer">
        <div class="show">
            <img th:src="${chef.immagine}"
                 alt="Chef picture"/>
            <h1 th:text="'Nominativo: ' + ${chef.getNominativo()}">Nome e Cognome</h1>
            <h1 th:text="'Nazionalita: ' + ${chef.nazionalita}">Nazionalita</h1>

        </div>
        <div class="show">
            <div class="chefBuffetText">
                <h1 class="showText">Buffet proposti</h1>
                <ul>
                    <li th:each="buffet : ${chef.buffet}">
                       <h2> <a th:href="@{'/show/buffet' + '/' + ${buffet.id}}"
                           th:text="${buffet.nome}"> Buffet </a></h2>
                    </li>
                </ul>
            </div>
            <div sec:authorize-url="/admin" class="adminButton">
                <h1>
                    <a th:href="@{'/admin/modificachef/' + ${chef.getId()}}">
                        <button class="adminCommandButton">Modifica Chef</button>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>